In [1]:
import pandas as pd
import yfinance as yf

In [4]:
ticker = yf.Ticker("AAPL")

In [8]:
display(ticker.info)

{'regularMarketPrice': None, 'preMarketPrice': None, 'logo_url': ''}

In [32]:
data1 = yf.download(tickers='AAPL', period='12mo', interval='1d')
data2 = yf.download(tickers='BTC-USD', period='12mo', interval='1d')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [33]:
data2

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-25,36654.804688,37444.570312,35779.429688,36954.003906,36954.003906,26428189594
2022-01-26,36950.515625,38825.410156,36374.906250,36852.121094,36852.121094,31324598034
2022-01-27,36841.878906,37148.324219,35629.281250,37138.234375,37138.234375,25041426629
2022-01-28,37128.445312,37952.878906,36211.109375,37784.332031,37784.332031,22238830523
2022-01-29,37780.714844,38576.261719,37406.472656,38138.179688,38138.179688,17194183075
...,...,...,...,...,...,...
2023-01-21,22677.427734,23282.347656,22511.833984,22777.625000,22777.625000,32442278429
2023-01-22,22777.986328,23056.730469,22387.900391,22720.416016,22720.416016,24746386230
2023-01-23,22721.087891,23126.486328,22654.304688,22934.431641,22934.431641,26518700512
2023-01-24,22929.626953,23134.011719,22549.744141,22636.468750,22636.468750,26405069715
2023-01-25,22664.750000,22908.677734,22410.406250,22897.732422,22897.732422,27494187008

In [25]:
def yahoo_api(tickers, period, interval):
    data_df = yf.download(
        tickers = tickers, 
        period = period, 
        interval = interval
    )
    return data_df

In [26]:
dingo = yahoo_api("AAPL", "12mo", "1d")

[*********************100%***********************]  1 of 1 completed

In [28]:
dingo

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-25,158.979996,162.759995,157.020004,159.779999,158.858017,115798400
2022-01-26,163.500000,164.389999,157.820007,159.690002,158.768539,108275300
2022-01-27,162.449997,163.839996,158.279999,159.220001,158.301254,121954600
2022-01-28,165.710007,170.350006,162.800003,170.330002,169.347153,179935700
2022-01-31,170.160004,175.000000,169.509995,174.779999,173.771454,115541600
...,...,...,...,...,...,...
2023-01-19,134.080002,136.250000,133.770004,135.270004,135.270004,58280400
2023-01-20,135.279999,138.020004,134.220001,137.869995,137.869995,79972200
2023-01-23,138.119995,143.320007,137.899994,141.110001,141.110001,81760300
2023-01-24,140.309998,143.160004,140.300003,142.529999,142.529999,66435100
2023-01-25,140.889999,142.429993,138.809998,141.820007,141.820007,53463483

In [29]:
def yahoo_api(tickers, period, interval):
    # Create dataframe using API data
    data_df = yf.download(
        tickers = tickers, 
        period = period, 
        interval = interval
    )

    # Drop columns not needed for Prophet usage
    data_df = data_df.drop(["Open", "High", "Low", "Adj Close", "Volume"], axis=1)

    return data_df

In [30]:
dingo = yahoo_api("AAPL", "12mo", "1d")

[*********************100%***********************]  1 of 1 completed

In [31]:
dingo

                 Close
Date
2022-01-25  159.779999
2022-01-26  159.690002
2022-01-27  159.220001
2022-01-28  170.330002
2022-01-31  174.779999
...                ...
2023-01-19  135.270004
2023-01-20  137.869995
2023-01-23  141.110001
2023-01-24  142.529999
2023-01-25  141.804993

[252 rows x 1 columns]